*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-size: 20px;
	overflow-x: hidden;
	color: blue;
}
header{
	background-image: url('image/pic.jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;

}
/*.clearfix:after{
	content: ".";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}*/
.row{
	max-width: 1180px
	margin : 0 auto;
}
.logo1{
	height: 80px;
	width: auto;
	float: left;
	margin-top: 30px;
}
.main-nav li{
	display: inline-block;
	list-style: none;
	margin-left: 120px;
}
.main-nav li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;


}
.main-content-header{
	width: 1180px;
	position: absolute;
	/*border: 1px solid red;*/
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

}
h1{
	color: red;
	font-size: 240%;
	word-spacing: 5px;
	letter-spacing: 3px;
	text-transform: uppercase;
}
img{
	height: 300px;
	width:  300px;
	position: center;
	
}
